rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Health & Safety files can be uploaded by any authenticated user.
    match /health_and_safety_files/{fileId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null; // CHANGED: Simplified rule to fix upload.
    }

    // Project files can be uploaded by any authenticated user.
    match /project_files/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
